html, body {
  height: 100%;
}

.li-hover:hover {
  background-color: #096452;
}

.list-group-item-dark {
  color: #f1ecf6;
  background-color: #343a40;
}

.ul-decorate {
  width: 20%;
  position: fixed;
  height: 100%
}
html, body {
  height: 100%;
}

.li-hover:hover {
  background-color: #096452;
}

.list-group-item-dark {
  color: #f1ecf6;
  background-color: #343a40;
}

.ul-decorate {
  width: 20%;
  position: fixed;
  height: 100%
}
html, body {
  height: 100%;
}

.li-hover:hover {
  background-color: #096452;
}

.list-group-item-dark {
  color: #f1ecf6;
  background-color: #343a40;
}

.ul-decorate {
  width: 20%;
  position: fixed;
  height: 100%
}
html, body {
  height: 100%;
}

.li-hover:hover {
  background-color: #096452;
}

.list-group-item-dark {
  color: #f1ecf6;
  background-color: #343a40;
}

.ul-decorate {
  width: 20%;
  position: fixed;
  height: 100%
}
html, body {
  height: 100%;
}

.li-hover:hover {
  background-color: #096452;
}

.list-group-item-dark {
  color: #f1ecf6;
  background-color: #343a40;
}

.ul-decorate {
  width: 20%;
  position: fixed;
  height: 100%
}
